/* Making the bigger screen fixed */
html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

/* Navigation */
.nav-container {
    justify-content: flex-start;
}

.nav-links {
    margin-left: 0px;
    gap: 0;
}

/* Main content padding to adjust for header */
main#content {
    padding-top: 110px; /* Adjust based on combined height of top-bar and navbar */
}

/* Button styling */
.button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    gap: 15%;
    padding: 10px 0;
}

/* Individual button styling */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background-color: #003349;
    color: #F9F9F9;
    border: none;
    border-radius: 8px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
    width: 327px;
    height: 88px;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Cart item styling */
.item-details {
    flex-grow: 1;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    position: relative;

    /* alight remove button to the left */
    flex-direction: row;
}


/* Main cart container with fixed height */
#cart-content {
    padding-top: 200px; /* Adjust based on combined height of top-bar and navbar */
    display: flex;
    flex-direction: column;
    height: 70vh; /* Adjust height to fit below top-bar */
    max-width: 100%; /* Adjust width as needed */
    margin: 0 auto;
    padding-bottom: 60px; /* Space for button container */
    overflow: hidden;
}

/* Scrollable area for cart items */
#cart-items-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Message for an empty cart */
.empty-cart-message {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    display: none; /* Hidden initially */
}

/* Total price styling */
#total-price {
    font-size: 1.7rem;
    font-weight: bold;
    height: 24%;
    text-align: center;  
    color: #003349;
}

.remove-btn {
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}


.remove-icon {
    width: 24px; 
    height: 24px;
}

.remove-btn:hover .remove-icon {
    filter: brightness(0.8); /* Slight darken effect on hover */
}
