body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0;

}

main {
    flex: 1;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;

    flex: 1;
}

.nav-links a {
    color: #F9F9F9;
    text-decoration: none;
    padding: 10px;

    font-size: 25px;
}

.nav-links a::after {
    text-decoration: underline;
}