body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1;
    position: relative;
    overflow-y: auto;
    color: #003349;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

/* top bar */
.cart-container {
    position: relative;
    display: inline-block
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: 16px;
    background-color: white;
    color: #003349;
    border-radius: 50%;
    padding: 2% 4%;
    font-size: 1.1rem;
    min-width: 18px;
    text-align: center;
    font-weight: bold;
}

/* Animation */
@keyframes cartBounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Animation Class */
.cart-bounce {
    animation: cartBounce 0.3s ease-in-out;
}

/* Nav Bar */
.nav-links {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0px;

    flex: 1;
}

.nav-links a {
    color: #F9F9F9;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
    position: relative;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F9F9F9;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

/* Food Items */
.menu-heading {
    font-size: 40px;
    font-weight: bold;
}

.menu-items {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.menu-item {
    background-color: #D9D9D9;
    width: calc(33.333% - 20px);

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
}

.menu-item:hover {
    transform: translateY(-5px);
}

.menu-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    display: block;
    aspect-ratio: 5 / 3;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.item-info {
    padding: 15px;

    color: #003349;

    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.item-info h3 {
    font-size: 32px;
    margin-bottom: 5px;
    margin-top: 10px
}

.item-info .price {
    font-size: 24px;
    font-weight: bold;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: last baseline;

    padding-right: 15px;
}

.item-action {
    flex: 1;
    padding-top: 15px;

    display: flex;
}

.item-description {
    font-size: 18px;
}

.add-button {
    background-image: url('../icons/add-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent;
    min-width: 65px;
    min-height: 65px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-right: 15px;
    /* Space between description and button */
}

.popup-content {
    background-color: #F9F9F9;
    padding: 16px;
    width: 75%;
    max-width: 800px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 20px;

    position: relative;
}

.top-popup-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 26px;

    flex: 1;
}

.img-wrapper {
    flex: 1;
}

.popup-content .popup-dish-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.dish-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.popup-content h3 {
    font-size: 40px;
    color: #003349;
    margin: 0;
    margin-bottom: 20px;
}

.popup-content h4 {
    margin: 0;
    font-size: 24px;
    color: #003349;
    margin-bottom: 28px;
}

.popup-content p {
    margin: 0;
    flex: 1;

    font-size: 20px;
    color: #003349;
}

.ingredients {
    flex: 1;
}

.ingredients h4 {
    margin-bottom: 15px;
}

.bottom-section {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 15px;

    gap: 20px;
}

.popup-content .add-button {
    background-image: url('../icons/add-button.png');
    min-width: 55px;
    min-height: 55px;
    margin: 0;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #003349;

    width: 32px;
    height: 32px;
}

/* search bar */
.search-container {
    display: none;
    position: fixed;
    top: 60px;
    /* Adjust based on your header height */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Increased z-index to bring it to the front */

}

#search-input {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 8px;
}

/* Filter Tag Section */
.filter-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

#active-filters {
    padding-top: 20px;
    display: none;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.filter-tag {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 8px 12px;
    color: #003349;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 20px;
}

.filter-type {
    font-size: 18px;
}


.remove-tag,
.remove-filter {
    background-image: url('../icons/remove-filter-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    width: 20px;
    height: 20px;

    cursor: pointer;
    border: none;
}

.remove-scroll{
    overflow-y: hidden;
}
