body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    margin: 0;

}

main {
    flex: 1;
}

/* top bar */
.cart-container {
    position: relative;
    display: inline-block
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: 10px;

    background-color: #F9F9F9;
    color: #003349;

    text-align: center;
    font-size: 15px;

    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

/* Nav Bar */
.nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;

    flex: 1;
}

.nav-links a {
    color: #F9F9F9;
    text-decoration: none;
    padding: 10px;

    font-size: 25px;
    transition: color 0.3s ease;
    position: relative;
}

.nav-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F9F9F9;
    transition: width 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}