body {
    font-family: 'Inria Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top Bar */
.top-bar {
    top: 0;
    width: 100%;
    flex: 2;
    background-color: #003349;
    color: #F9F9F9;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

h1 {
    font-family: 'Inria Serif', serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #F9F9F9;
    margin: 0;
    text-align: center;
    position: absolute;
    /* Center h1 independently */
    left: 50%;
    /* Move h1 to the center horizontally */
    transform: translateX(-50%);
    /* Adjust for centering */
}

button {
    font-family: 'Inria Serif', serif;
}

/* help icon */
#help-message {
    display: none;
    font-size: 25px;
    color: #F9F9F9;
}

.help-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Nav bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: #819AA1;
    color: #F9F9F9;
    padding: 15px;

    height: 54px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 20px;
    /* Space to the right of the icon */
    cursor: pointer;
}

/* Modal (background) */
.modal {
    display: none;
    position: fixed;

    /* stay on top */
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    /* black background */
    background-color: rgba(0, 0, 0, 0.4);
}