body {
    font-family: 'Inria Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    height: 185px;

    position: fixed;
    z-index: 10;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: start;
    /* Center nav items */
    position: relative;
    font-weight: bold;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 150px;
    list-style: none;
}

.nav-links {
    position: relative;
    /* Required for the absolute positioning of the pseudo-element */
}

@media (max-width: 1180px) {
    .nav-links {
        gap: 65px;
    }
}

/* Nav bar */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;

    background-color: #819AA1;
    color: #F9F9F9;
    flex: 1;

    width: 100vw;

    border-width: 5px;
    border-color: red;
}

/* Top Bar */
.top-bar {
    width: 100%;
    flex: 1;
    background-color: #003349;
    color: #F9F9F9;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

main {
    margin-top: 185px;
    max-height: calc(100vh - 185px);
}

h1 {
    font-family: 'Inria Serif', serif;
    font-size: 3.5rem;
    font-weight: bold;
    color: #F9F9F9;
    margin: 0;
    text-align: center;
    flex: 1;
}

button {
    font-family: 'Inria Serif', serif;
}

/* help icon */
#help-message {
    display: none;
    font-size: 25px;
    color: #F9F9F9;
}

.help-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
}

.placeholder {
    flex: 1;
}

.top-nav-right-div {
    flex: 1;
    display: flex;
    justify-content: end;
}

.icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 20px;
    /* Space to the right of the icon */
    cursor: pointer;
}

/* Modal (background) */
.modal {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;

    /* stay on top */
    z-index: 15;

    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    /* black background */
    background-color: rgba(0, 0, 0, 0.4);
}

/* quantity control */
.quantity-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #003349;
    background-color: transparent;

    gap: 5px;
    height: 40px;
    border-radius: 6px;

    font-size: 20px;
}

.quantity {
    flex: 1;
    text-align: center;
    min-width: 20px;
    cursor: default;
}

.minus-btn,
.plus-btn {
    flex: 1;
    background-color: #819AA1;
    height: 75%;
    aspect-ratio: 1/1;
    border: none;
    font-weight: bold;
    text-align: center;

    font-size: 30px;
    line-height: 1;

    border-radius: 500px;
    cursor: pointer;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* .minus-btn {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.plus-btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
} */

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #000;
    opacity: 0.5;
}