
body {
    font-family: 'Inria Serif', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background-color: #003349;
    color: #F9F9F9;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.top-bar h1 {
    font-family: 'Inria Serif', serif;
    font-size: 3.5rem;
    color: #F9F9F9;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
}


nav {
    width: 100%;
    background-color: rgba(129, 154, 161, 0.631);
    padding: 10px 0;
    align-items: center;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color:  #F9F9F9;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-content: centre;
    flex-shrink: 0;
    
}

#filter-icon {
    margin-right: 10px;
}