#filter-modal {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    top: 0;
    left: 0;
    width: 100%;
}

.filter-panel {
    display: flex;
    position: fixed;
    padding-bottom: 20%;
    flex-direction: column;
    flex-grow: 1;
    max-height: 500px;
    overflow-y: scroll;    

    /* Allow the filter panel to take up the remaining space */
    background-color: #D9D9D9;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 24px;
    font-weight: bold;
    padding-left: 21px;
    padding-right: 21px;
    color: #003349;
}

/* Filter header styling */
.filter-header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

/* Style for the icon button */
.icon-button {
    background: none;
    /* Remove background */
    border: none;
    /* Remove border */
    padding: 0;
    /* Remove padding */
    cursor: pointer;
    /* Pointer cursor */
    outline: none;
    /* Remove focus outline */
}


 
.dietary-preferences h4{
    margin-top: 1%;
    margin-bottom: 2%;
}

.filter-selection h4{
    margin-bottom: 2%;
}

.filter-include h4 {
    margin-bottom: 2%;
}

.filter-exclude h4 {
    margin-bottom: 2%;
}


/* Style only .filter-option buttons in filter-panel */
.filter-option {
    display: inline-block;
    padding: 10px;
    background-color: #819AA1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Inria Serif', serif;
}

.filter-option.active {
    background-color: #003349;
    /* Highlight color */
    color: #FFFFFF;
    /* Text color for better contrast */
}

.filter-input {
    border: 1px solid #003349;
    border-radius: 15px;
    padding: 8px;
    width: 100%;
    font-size: 16px;
}

.filter-input:focus {
    outline: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 16px; /* Space between checkboxes */
    margin-left: 6px; /* Space between checkboxes */
    margin-bottom: 8px; /* Space between checkboxes */
}

.filter-checkbox {
    transform: scale(2); /* Increase the size */
    margin-right: 20px; /* Space between checkbox and label */
}

.checkbox-container label {
    font-size: 18px;
    color:#003349; /* Label text color */
}